<template>
  <div class="container" v-if="isAuthenticated">
    <h1>Add Cocktail</h1>
    <form @submit.prevent="addCocktail" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="libelle" class="form-label">Libelle</label>
        <input type="text" v-model="cocktail.libelle" class="form-control" id="libelle" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" v-model="cocktail.description" class="form-control" id="description" required>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select v-model="cocktail.categoryId" class="form-control" id="category" required>
          <option v-for="category in categories" :key="category.id" :value="category.id">
            {{ category.libelle }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" ref="fileInput" @change="handleFileUpload" class="form-control" id="image" accept="image/png, image/jpeg, image/webp">
      </div>
      <div class="mb-3">
        <label for="basePrice" class="form-label">Base Price (Size S)</label>
        <input type="text" v-model="cocktail.basePrice" class="form-control" id="basePrice" required>
      </div>
      <div class="mb-3">
        <label for="mediumPrice" class="form-label">Price for Size M</label>
        <input type="text" v-model="cocktail.mediumPrice" class="form-control" id="mediumPrice">
      </div>
      <div class="mb-3">
        <label for="largePrice" class="form-label">Price for Size L</label>
        <input type="text" v-model="cocktail.largePrice" class="form-control" id="largePrice">
      </div>
      <button type="submit" class="btn btn-primary">Add Cocktail</button>
    </form>
  </div>
  <div v-else>
    <p>Vous devez être connecté pour accéder à cette page.</p>
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      cocktail: {
        libelle: '',
        description: '',
        categoryId: null,
        image: null,
        basePrice: '',
        mediumPrice: '',
        largePrice: ''
      },
      categories: []
    };
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  watch: {
    'cocktail.basePrice': function(newBasePrice) {
      this.updatePrices(newBasePrice);
    }
  },
  created() {
    axios.get('http://localhost:8080/categories')
      .then(response => {
        this.categories = response.data;
      })
      .catch(error => {
        console.error('There was an error fetching the categories:', error);
      });
  },
  methods: {
    handleFileUpload(event) {
      this.cocktail.image = event.target.files[0];
    },
    updatePrices(basePrice) {
      let parsedBasePrice = parseFloat(basePrice.replace(',', '.'));
      if (!isNaN(parsedBasePrice)) {
        this.cocktail.mediumPrice = (parsedBasePrice * 1.45).toFixed(2).replace('.', ',');
        this.cocktail.largePrice = (parsedBasePrice * 1.75).toFixed(2).replace('.', ',');
      }
    },
    addCocktail() {
      const formData = new FormData();
      formData.append('libelle', this.cocktail.libelle);
      formData.append('description', this.cocktail.description);
      formData.append('categoryId', this.cocktail.categoryId);
      formData.append('basePrice', this.cocktail.basePrice.toString().replace(',', '.'));
      formData.append('mediumPrice', this.cocktail.mediumPrice.toString().replace(',', '.'));
      formData.append('largePrice', this.cocktail.largePrice.toString().replace(',', '.'));
      if (this.cocktail.image) {
        formData.append('image', this.cocktail.image);
      }

      axios.post('http://localhost:8080/cocktail/add', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(response => {
        alert('Cocktail Added Successfully');
        this.resetCocktailForm(); 
      })
      .catch(error => {
        console.error('There was an error adding the cocktail!', error);
      });
    },
    resetCocktailForm() {
      this.cocktail = {
        libelle: '',
        description: '',
        categoryId: null,
        image: null,
        basePrice: '',
        mediumPrice: '',
        largePrice: ''
      };
      if (this.$refs.fileInput) {
        this.$refs.fileInput.value = ''; 
      }
    }
  }
};
</script>

<style>
.container {
  width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
</style>
