<template>
  <div class="container mt-5">
    <img src="/public/images/Cartepage.svg" alt="Carte" width="100%">

    <!-- Category Filter -->
    <div class="mb-3">
      <label for="categoryFilter" class="form-label">Filter by Category</label>
      <div>
        <div v-for="category in categories" :key="category.id" class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            :id="`category-${category.id}`"
            :value="category.id"
            v-model="selectedCategories"
            @change="filterCocktails"
          >
          <label :for="`category-${category.id}`" class="form-check-label">{{ category.libelle }}</label>
        </div>
      </div>
    </div>

    <!-- Search by Title -->
    <div class="mb-3">
      <label for="searchTitle" class="form-label">Search by Title</label>
      <input
        type="text"
        class="form-control"
        id="searchTitle"
        v-model="searchTitle"
        @input="filterCocktails"
        placeholder="Search by title"
      >
    </div>

    <!-- Cocktails List -->
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" v-for="cocktail in filteredCocktails" :key="cocktail.id">
        <div class="card h-100">
          <img :src="`http://localhost:8080/images/${cocktail.imageUrl}`" class="card-img-top" alt="Cocktail Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ cocktail.libelle }}</h5>
            
            <!-- Size Selection -->
            <label for="size-select">Choisissez la taille:</label>
            <select class="form-select mb-2" v-model="selectedSizes[cocktail.id]" @change="updatePrice(cocktail)">
              <option value="">Sélectionner une taille</option>
              <option value="S">Petit (S)</option>
              <option value="M">Moyen (M)</option>
              <option value="L">Grand (L)</option>
            </select>
              
            <!-- Display Price -->
            <p>Prix : {{ getPrice(cocktail).toFixed(2) }} €</p>
              
            <!-- Add to Cart Button -->
            <button
              class="btn btn-primary w-100"
              @click="addToCart(cocktail)"
              :disabled="!isAddToCartEnabled(cocktail)"
            >
              Ajouter au panier
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { ref, reactive, toRefs } from 'vue';

export default {
  setup() {
    const cocktails = ref([]);
    const filteredCocktails = ref([]);
    const categories = ref([]);
    const selectedCategories = ref([]);
    const searchTitle = ref('');
    const selectedSizes = reactive({});

    // Fetch all cocktails from the server
    const fetchCocktails = async () => {
      try {
        const response = await axios.get('http://localhost:8080/cocktails');
        cocktails.value = response.data;
        filteredCocktails.value = response.data;
        // Initialize selected sizes for each cocktail
        cocktails.value.forEach(cocktail => {
          selectedSizes[cocktail.id] = '';
        });
      } catch (error) {
        console.error('Error fetching cocktails:', error);
      }
    };
    
    // Fetch all categories from the server
    const fetchCategories = async () => {
      try {
        const response = await axios.get('http://localhost:8080/categories');
        categories.value = response.data;
      } catch (error) {
        console.error('Error fetching categories:', error);
      }
    };

    // Filter cocktails based on selected categories and search title
    const filterCocktails = () => {
      let filtered = cocktails.value;

      // Apply category filter
      if (selectedCategories.value.length > 0) {
        filtered = filtered.filter(cocktail => selectedCategories.value.includes(cocktail.categoryId));
      }

      // Apply title search filter
      if (searchTitle.value.trim() !== '') {
        filtered = filtered.filter(cocktail => 
          cocktail.libelle.toLowerCase().includes(searchTitle.value.toLowerCase())
        );
      }

      filteredCocktails.value = filtered;
    };

    // No-operation for size change currently, could update prices etc.
    const updatePrice = (cocktail) => {
      // Placeholder for future logic, if needed
    };

    // Get price based on selected size
    const getPrice = (cocktail) => {
      const size = selectedSizes[cocktail.id];
      const sizePrices = {
        'S': cocktail.basePrice,
        'M': cocktail.mediumPrice,
        'L': cocktail.largePrice
      };
      let price = sizePrices[size] || 0.00;
      return typeof price === 'string' ? parseFloat(price.replace(',', '.')) : price;
    };

    // Check if Add to Cart is enabled based on size and price selection
    const isAddToCartEnabled = (cocktail) => {
      const size = selectedSizes[cocktail.id];
      return size && getPrice(cocktail) > 0;
    };

    // Add selected cocktail to local storage cart
    const addToCart = (cocktail) => {
      // Only proceed if adding to cart is valid
      if (!isAddToCartEnabled(cocktail)) {
        alert('Veuillez sélectionner une taille valide et vérifier le prix.');
        return;
      }
      const size = selectedSizes[cocktail.id];
      const price = getPrice(cocktail);
      const cartItem = {
        id: cocktail.id,
        libelle: cocktail.libelle,
        imageUrl: cocktail.imageUrl,
        price: price,
        size: size,
        quantity: 1
      };
      let cart = JSON.parse(localStorage.getItem('cart')) || [];
      const existingItem = cart.find(item => item.id === cartItem.id && item.size === cartItem.size);
      if (existingItem) {
        existingItem.quantity += 1;
      } else {
        cart.push(cartItem);
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      alert('Article ajouté au panier');
    };

    fetchCocktails();
    fetchCategories();

    return {
      cocktails,
      filteredCocktails,
      categories,
      selectedCategories,
      searchTitle,
      selectedSizes,
      filterCocktails,
      updatePrice,
      getPrice,
      isAddToCartEnabled,
      addToCart,
      ...toRefs(selectedSizes)
    };
  }
};
</script>

<style scoped>
/* Styles for improving card layout and responsiveness */
.card {
  display: flex;
  flex-direction: column;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.mt-auto {
  margin-top: auto;
}
</style>
