<template>
    <div class="container">
      <h1>View Cocktails</h1>
      <router-link to="/add" class="btn btn-primary mb-3">Add Cocktail</router-link>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Libelle</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cocktail in cocktails" :key="cocktail.id">
            <td>{{ cocktail.libelle }}</td>
            <td>{{ cocktail.description }}</td>
            <td>
              <router-link :to="{ name: 'edit', params: { id: cocktail.id }}" class="btn btn-warning">Edit</router-link>
              <button @click="deleteCocktail(cocktail.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        cocktails: []
      };
    },
    created() {
      this.getCocktails();
    },
    methods: {
      getCocktails() {
        axios.get('http://localhost:8080/cocktail')
          .then(response => {
            this.cocktails = response.data;
          })
          .catch(error => {
            console.error('There was an error retrieving the cocktails!', error);
          });
      },
      deleteCocktail(id) {
        axios.delete(`http://localhost:8080/cocktail/${id}`)
          .then(response => {
            alert('Cocktail Deleted Successfully');
            this.getCocktails();
          })
          .catch(error => {
            console.error('There was an error deleting the cocktail!', error);
          });
      }
    }
  };
  </script>
  