<template>
  <div v-if="isAuthenticated" class="orders-container">
    <h1>Commandes</h1>
    <div v-if="paniers.length > 0">
      <table class="orders-table">
        <thead>
          <tr>
            <th>Nom de la Commande</th>
            <th>État</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="panier in paniers" :key="panier.id" :class="getStatusClass(panier.etatAvancement)">
            <td>{{ panier.nomCommande }}</td>
            <td>
              <select v-model="panier.etatAvancement" @change="updateOrderStatus(panier)">
                <option value="Préparation des Ingrédients">Préparation des Ingrédients</option>
                <option value="Assemblage">Assemblage</option>
                <option value="Dressage">Dressage</option>
                <option value="Terminé">Terminé</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <p>Aucune commande passée.</p>
    </div>
  </div>
  <div v-else>
    <p>Vous devez être connecté pour accéder à cette page.</p>
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      paniers: []  
    };
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  created() {
    this.fetchPaniers();
  },
  methods: {
    fetchPaniers() {
      axios.get('http://localhost:8080/panier')
        .then(response => {
          this.paniers = response.data;
        })
        .catch(error => {
          console.error('Error fetching paniers:', error);
        });
    },
    getStatusClass(status) {
      if (status === 'Préparation des Ingrédients') {
        return 'order-preparation';
      } else if (status === 'Assemblage') {
        return 'order-assembly';
      } else if (status === 'Dressage') {
        return 'order-dressing';
      } else if (status === 'Terminé') {
        return 'order-completed';
      }
      return '';
    },
    updateOrderStatus(panier) {
      axios.put(`http://localhost:8080/panier/${panier.id}`, { etatAvancement: panier.etatAvancement })
        .then(response => {
          console.log('Order status updated:', response.data);
        })
        .catch(error => {
          console.error('Error updating order status:', error);
        });
    }
  }
};
</script>

<style scoped>
.orders-container {
  padding: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th, .orders-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.order-preparation {
  background-color: yellow;
}

.order-assembly {
  background-color: orange;
}

.order-dressing {
  background-color: blue;
}

.order-completed {
  background-color: green;
}
</style>
