<template>
  <div class="orders-container">
    <h1>Commandes</h1>
    <div v-if="paniers.length > 0">
      <table class="orders-table">
        <thead>
          <tr>
            <th>Nom de la Commande</th>
            <th>État</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="panier in paniers" :key="panier.id" :class="getStatusClass(panier.etat)">
            <td>{{ panier.nomCommande }}</td>
            <td>{{ panier.etatAvancement }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <p>Aucune commande passée.</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      paniers: []  // Array to hold all paniers
    };
  },
  created() {
    this.fetchPaniers();
  },
  methods: {
    fetchPaniers() {
      axios.get('http://localhost:8080/panier')
        .then(response => {
          this.paniers = response.data;
        })
        .catch(error => {
          console.error('Error fetching paniers:', error);
        });
    },
    getStatusClass(status) {
      if (status === 'en cours') {
        return 'order-in-progress';
      } else if (status === 'terminé') {
        return 'order-completed';
      }
      return '';
    }
  }
};
</script>

<style scoped>
.orders-container {
  padding: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th, .orders-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.order-in-progress {
  background-color: orange;
}

.order-completed {
  background-color: green;
}
</style>
