<template>
  <div class="container">
    <h1>Bienvenu !</h1>
    <p id="navask">Sunset Paradise, découvrez l'art du cocktail : chaque verre, une expérience unique.</p>

    <h2 id="SummerVibes">🥝Nouveaux les Summer Vibes !🍍</h2>
    <img src="/public/images/PubSummer.webp" alt="PubSummer" width="100%" height="700px">

    <h3>Qui sommes-nous ?</h3>
    <img src="/public/images/close-up-bartender-creating-delicious-drink 1.svg" alt="Quisommesnous" id="Quisommesnous" width="100%">
    <p>
      Découvrez un univers où la passion et la précision se rencontrent dans chaque verre servi. 
      Nous croyons que la qualité d'un cocktail réside non seulement dans l'expertise de celui qui le concocte, mais également dans la pureté et l'origine des ingrédients utilisés. 
      Chaque cocktail que nous proposons est le fruit d'un travail minutieux et passionné. Nos mixologues, véritables artistes des saveurs, conçoivent des mélanges innovants tout en respectant les techniques classiques. 
      Le soin apporté à la préparation est visible, du premier coup de shaker jusqu'à la présentation soignée de chaque boisson.
    </p>



    <div class="section mt-5">
      <h3>Cocktails du moment</h3>
      <div class="row">
        <div class="col-md-4" v-for="cocktail in featuredCocktails" :key="cocktail.id">
          <div class="card mb-4">
            <img :src="`http://localhost:8080/images/${cocktail.imageUrl}`" class="card-img-top" alt="Cocktail Image">
            <div class="card-body">
              <h5 class="card-title">{{ cocktail.libelle }}</h5>
              <p class="card-text">{{ cocktail.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section mt-5">
      <h3>Cocktails les plus appréciés</h3>
      <div class="row">
        <div class="col-md-4" v-for="cocktail in topRatedCocktails" :key="cocktail.id">
          <div class="card mb-4">
            <img :src="`http://localhost:8080/images/${cocktail.imageUrl}`" class="card-img-top" alt="Cocktail Image">
            <div class="card-body">
              <h5 class="card-title">{{ cocktail.libelle }}</h5>
              <p class="card-text">{{ cocktail.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>La Carte</h3>
    <a href="/carte"><img src="/public/images/Carte.svg" alt="Carte" width="100%"></a>


  </div>
</template>
<script>
import axios from 'axios';

export default {
  data() {
    return {
      featuredCocktails: [],
      topRatedCocktails: []
    };
  },
  created() {
    this.fetchCocktails();
  },
  methods: {
    fetchCocktails() {
      axios.get('http://localhost:8080/cocktails')
        .then(response => {
          const featuredIds = [1, 2, 3];
          const topRatedIds = [4, 5, 6];

          this.featuredCocktails = response.data
            .filter(cocktail => featuredIds.includes(cocktail.id))
            .map(cocktail => ({ ...cocktail }));

          this.topRatedCocktails = response.data
            .filter(cocktail => topRatedIds.includes(cocktail.id))
            .map(cocktail => ({ ...cocktail }));
        })
        .catch(error => { 
          console.error('Error fetching cocktails:', error);
        });
    }
  }
};
</script>


