<template>
  <div class="login-container">
    <h1>Connexion</h1>
    <form @submit.prevent="login">
      <div class="form-group">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" v-model="credentials.username" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" v-model="credentials.password" required>
      </div>
      <button type="submit">Se connecter</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      credentials: {
        username: '',
        password: ''
      }
    };
  },
  methods: {
    ...mapActions(['loginAction']),
    async login() {
      try {
        const response = await this.$axios.post('http://localhost:8080/login', this.credentials);
        this.loginAction(response.data); // Utilisez l'action Vuex pour stocker l'utilisateur
        this.$router.push({ name: 'home' });
      } catch (error) {
        console.error('Erreur de connexion:', error);
        alert('Erreur de connexion. Veuillez vérifier vos identifiants.');
      }
    }
  }
}
</script>

<style>
.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 20px;
}
</style>
