<template>
    <div class="cart-container">
      <h1>Mon Panier</h1>
      <div v-if="cartItems.length > 0">
        <table class="cart-table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Libelle</th>
              <th>Taille</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cartItems" :key="item.id" class="cart-item">
              <td><img :src="`http://localhost:8080/images/${item.imageUrl}`" alt="Cocktail Image" width="100%"></td>
              <td>{{ item.libelle }}</td>
              <td>{{ item.size }}</td>
              <td><input type="number" v-model.number="item.quantity" min="1"></td>
              <td>{{ (item.price * item.quantity).toFixed(2) }} €</td>
              <td><button @click="removeItem(item.id)">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
        <button @click="clearCart">Vider le panier</button>
        <button @click="submitCart">Envoyer le panier</button>
      </div>
      <div v-else>
        <p>Votre panier est vide.</p>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        cartItems: JSON.parse(localStorage.getItem('cart')) || []
      };
      },
      methods: {
        clearCart() {
          localStorage.removeItem('cart');
          this.cartItems = [];
        },
        async submitCart() {
          const nomCommande = prompt('Veuillez entrer le nom de votre commande:');
          if (!nomCommande) {
            alert('Le nom de commande est requis.');
            return;
          }
  
          try {
            const items = this.cartItems.map(item => ({
              cocktail: { id: item.id },
              quantite: item.quantity,
              taille: item.size
            }));
  
            const payload = {
              nomCommande,
              items
            };
  
            const response = await axios.post('http://localhost:8080/panier', payload);
            console.log('Panier envoyé avec succès :', response.data);
            this.clearCart(); // Optionnel : Vider le panier après l'envoi
          } catch (error) {
            console.error('Erreur lors de l\'envoi du panier :', error);
          }
        },
        removeItem(itemId) {
          this.cartItems = this.cartItems.filter(item => item.id !== itemId);
          localStorage.setItem('cart', JSON.stringify(this.cartItems));
        }
      },
      watch: {
        cartItems: {
          handler(newCartItems) {
            localStorage.setItem('cart', JSON.stringify(newCartItems));
          },
          deep: true
        }
      }
    };
  </script>
  
  <style scoped>
  .cart-container {
    padding: 20px;
  }
  .cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  .cart-table th, .cart-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  .cart-item img {
    width: 100px;
  }
  .cart-item input[type="number"] {
    width: 60px;
  }
  button {
    margin-top: 10px;
  }
  </style>
  