<template>
  <div class="container">
    <h1>Update Cocktail</h1>
    <form @submit.prevent="updateCocktail">
      <div class="mb-3">
        <label for="libelle" class="form-label">Libelle</label>
        <input type="text" v-model="cocktail.libelle" class="form-control" id="libelle" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" v-model="cocktail.description" class="form-control" id="description" required>
      </div>
      <button type="submit" class="btn btn-primary">Update Cocktail</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      cocktail: {
        libelle: '',
        description: ''
      }
    };
  },
  created() {
    this.getCocktail();
  },
  methods: {
    getCocktail() {
      axios.get(`http://localhost:8080/cocktail/${this.$route.params.id}`)
        .then(response => {
          this.cocktail = response.data;
        })
        .catch(error => {
          console.error('There was an error retrieving the cocktail!', error);
        });
    },
    updateCocktail() {
      axios.put('http://localhost:8080/cocktail', this.cocktail)
        .then(response => {
          alert('Cocktail Updated Successfully');
          this.$router.push('/');
        })
        .catch(error => {
          console.error('There was an error updating the cocktail!', error);
        });
    }
  }
};
</script>
