<template>
  <div>
    <div v-for="cocktail in cocktails" :key="cocktail.id">
      {{ cocktail.name }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import axios from 'axios';

interface Cocktail {
  id: number;
  name: string;
}

export default defineComponent({
  name: 'ViewCocktails',
  setup() {
    const cocktails = ref<Cocktail[]>([]);

    onMounted(async () => {
      try {
        const response = await axios.get('/api/cocktails');
        cocktails.value = response.data;
      } catch (error) {
        console.error('Error fetching cocktails:', error);
      }
    });

    return { cocktails };
  }
});
</script>
