<template>
  <div class="container" v-if="cocktail">
    <h1>{{ cocktail.libelle }}</h1>
    <img :src="`http://localhost:8080/images/${cocktail.imageUrl}`" alt="Cocktail Image" width="100%">
    <p>{{ cocktail.description }}</p>
    <label for="size-select">Choisissez la taille:</label>
    <select id="size-select" v-model="selectedSize" @change="updatePrice">
      <option value="S">Petit (S)</option>
      <option value="M">Moyen (M)</option>
      <option value="L">Grand (L)</option>
    </select>
    <p>Prix : {{ currentPrice.toFixed(2) }} €</p>
    <button @click="addToCart">Ajouter au panier</button>
    <p v-if="message" class="confirmation">{{ message }}</p>
  </div>
  <div v-else>
    <p>Chargement...</p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    id: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      cocktail: null,
      selectedSize: 'S',
      currentPrice: 0.00,
      message: ''
    };
  },
  created() {
    this.fetchCocktail();
  },
  watch: {
    id(newId) {
      this.fetchCocktail();
    }
  },
  methods: {
    fetchCocktail() {
      const cocktailId = Number(this.id); // Ensure id is a number
      axios.get(`http://localhost:8080/cocktail/${cocktailId}`)
        .then(response => {
          this.cocktail = response.data;
          this.updatePrice(); // Update the price initially
        })
        .catch(error => {
          console.error('Error fetching cocktail details:', error);
        });
    },
    updatePrice() {
      if (this.cocktail) {
        const sizePrices = {
          'S': this.cocktail.basePrice,
          'M': this.cocktail.mediumPrice,
          'L': this.cocktail.largePrice
        };
        let price = sizePrices[this.selectedSize];
        if (typeof price === 'string') {
          price = parseFloat(price.replace(',', '.'));
        }
        this.currentPrice = price || 0.00;
      }
    },
    addToCart() {
      const cartItem = {
        id: this.cocktail.id,
        libelle: this.cocktail.libelle,
        imageUrl: this.cocktail.imageUrl,
        price: this.currentPrice,
        size: this.selectedSize,
        quantity: 1
      };
      let cart = JSON.parse(localStorage.getItem('cart')) || [];
      const existingItem = cart.find(item => item.id === cartItem.id && item.size === cartItem.size);
      if (existingItem) {
        existingItem.quantity += 1;
      } else {
        cart.push(cartItem);
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      this.message = 'Article ajouté au panier';
      setTimeout(() => {
        this.message = '';
      }, 2000);
    }
  }
};
</script>

<style scoped>
.confirmation {
  color: green;
  margin-top: 10px;
}
</style>
