@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(52,0,40);
    background: linear-gradient(90deg, rgba(52,0,40,1) 19%, rgba(29,43,77,1) 87%);
    max-width: 1920px;
    max-height: 1080px;
}

p {
    color: rgb(241, 241, 241);
    font-family: "Inter";
}

body h1 {
    font-family: "Pacifico";
    background: #CFCC16;
    background: radial-gradient(ellipse farthest-corner at top left, #CFCC16 18%, #CF11B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: lightgrey;
    font-size: 5rem;
    text-align: center;
    
}

#SummerVibes {
    font-family: "Pacifico";
    color: rgb(243, 243, 243);
    font-size: 5rem;
    text-align: center;
}

body h3 {
    font-family: "Inter";
    color: rgb(243, 243, 243);
    font-size: 2.5rem;
}

#navask {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

body img {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

body .card {
    width: 400px;
    height: 500px;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform 0.1s ease-in-out;
    text-align: center;
    margin-top: 2rem;
    border: none;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

.card-img-top {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 2%;
}


.navbar-expand-lg .navbar-nav .nav-link {
    font-family: "Dancing Script";
    color: #f1f1f1;
    font-size: 2rem;
    transition: transform ease-in-out 0.2s;
}

.navbar-expand-lg:hover .navbar-nav:hover .nav-link:hover {
    transform: scale(1.1);
}

body .navbar-brand {
    font-family: "Pacifico";
    background: radial-gradient(ellipse farthest-corner at top left, #CFCC16 18%, #CF11B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: lightgrey;
    font-size: 2rem;
    text-align: center;
}

body .form-label {
    color: white;
}

label{
    color: white;
}

body table {
    color: white;
}

body #CARDSBACK{
    display: flex;
}